@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
h1 {
  font-size: 6rem;
  font-weight: 700; }

h2 {
  font-size: 4rem;
  font-weight: 700; }

p {
  font-size: 2rem;
  font-weight: 300;
  color: #8f9ea5; }

ul {
  list-style: none; }
  ul li {
    font-size: 2rem;
    font-weight: 300;
    line-height: 4rem;
    color: #8f9ea5; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  text-decoration: none; }

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif; }

body {
  background: #ffffff;
  max-width: calc(100vw-2rem);
  width: 80rem;
  background: url("../images/bg.png") center center;
  background-repeat: repeat-y;
  background-size: cover; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  nav .contact-me a {
    font-size: 2rem;
    color: #027bff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    nav .contact-me a i {
      font-size: 3rem;
      margin-right: 1rem; }
    nav .contact-me a:hover {
      color: #006ce2; }
  nav .social-icons a {
    font-size: 2rem;
    color: #8f9ea5;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    nav .social-icons a i {
      font-size: 3rem;
      margin: 0rem 1rem; }
    nav .social-icons a:hover {
      color: #c8cfd2; }

.intro {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .intro .intro-text p {
    margin: 2rem 0rem;
    max-width: 40rem; }
  .intro .intro-img .front-circle {
    width: 30rem;
    height: 30rem;
    background: url("../images/06.jpeg") center center no-repeat;
    background-size: cover;
    -webkit-box-shadow: 30px 30px 0px 1px #027bff;
            box-shadow: 30px 30px 0px 1px #027bff;
    border-radius: 50%; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh; }
  .skills .skills-items {
    max-width: 60rem; }
    .skills .skills-items h2,
    .skills .skills-items p {
      text-align: center;
      margin: 1rem 0rem; }
    .skills .skills-items .app-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 4rem;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.projects .project {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .projects .project a {
    font-size: 2rem;
    font-weight: 400;
    color: #17191a; }

.projects .pineapple-project {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .projects .pineapple-project .project-header {
    text-align: left;
    position: absolute;
    top: 16rem;
    left: 0rem;
    z-index: 2; }
    .projects .pineapple-project .project-header a::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      top: 8rem;
      left: 0;
      background: #027bff;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: left;
              transform-origin: left;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .projects .pineapple-project .project-header a::after:hover::after {
        -webkit-transform: scale(2);
                transform: scale(2); }
  .projects .pineapple-project .project-img {
    position: relative;
    width: 60rem;
    height: 36rem;
    background: url("../images/pineapple.jpg") center center no-repeat;
    background-size: cover;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    transition: -webkit-box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in; }
    .projects .pineapple-project .project-img:hover {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5);
              box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5); }
  .projects .pineapple-project .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 2rem;
    left: -3rem; }
    .projects .pineapple-project .social-icons i {
      font-size: 1.4rem; }
      .projects .pineapple-project .social-icons i:hover {
        color: #474d50; }

.projects .shack-project {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .projects .shack-project .project-header {
    text-align: right;
    position: absolute;
    top: 16rem;
    right: 0rem;
    z-index: 2; }
    .projects .shack-project .project-header a::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      top: 8rem;
      right: 0;
      background: #027bff;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: right;
              transform-origin: right;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .projects .shack-project .project-header a::after:hover::after {
        -webkit-transform: scale(2);
                transform: scale(2); }
  .projects .shack-project .project-img {
    position: relative;
    width: 60rem;
    height: 36rem;
    background: url("../images/barn.jpg") center center no-repeat;
    background-size: cover;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    transition: -webkit-box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in; }
    .projects .shack-project .project-img:hover {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5);
              box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5); }
  .projects .shack-project .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 2rem;
    right: -3rem; }
    .projects .shack-project .social-icons i {
      font-size: 1.4rem; }
      .projects .shack-project .social-icons i:hover {
        color: #474d50; }

.projects .veggie-project {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .projects .veggie-project .project-header {
    text-align: left;
    position: absolute;
    top: 16rem;
    left: 0rem;
    z-index: 2; }
    .projects .veggie-project .project-header a::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      top: 8rem;
      left: 0;
      background: #027bff;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: left;
              transform-origin: left;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .projects .veggie-project .project-header a::after:hover::after {
        -webkit-transform: scale(2);
                transform: scale(2); }
  .projects .veggie-project .project-img {
    position: relative;
    width: 60rem;
    height: 36rem;
    background: url("../images/carrots.jpg") center center no-repeat;
    background-size: cover;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in;
    transition: -webkit-box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in; }
    .projects .veggie-project .project-img:hover {
      -webkit-box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5);
              box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5); }
  .projects .veggie-project .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 2rem;
    left: -3rem; }
    .projects .veggie-project .social-icons i {
      font-size: 1.4rem; }
      .projects .veggie-project .social-icons i:hover {
        color: #474d50; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40vh;
  background: url("../icons/dribbble-icon_2.png");
  background-position: 260% -30%;
  background-size: 90%;
  background-repeat: no-repeat; }
  footer h2 a {
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: #027bff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer h2 a::after {
      content: '';
      position: absolute;
      width: 4rem;
      height: 0.5rem;
      top: 4rem;
      background: #027bff; }
/*# sourceMappingURL=master.css.map */