@mixin mQ($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin ProjectImg($image) {
    position: relative;
    width: 60rem;
    height: 36rem;
    background: url('../images/#{$image}.jpg') center center no-repeat;
    background-size: cover;
    transition: box-shadow 0.3s ease-in;
    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(23, 30, 36, 0.5);
    }
    @include mQ(600px) {
        width: 100vw;
    }
}

@mixin ProjectHeader($flex,
$text-align,
$position) {
    justify-content: $flex;
    .project-header {
        text-align: $text-align;
        position: absolute;
        top: 16rem;
        #{$position}: 0rem;
        z-index: 2;
        a::after {
            content: '';
            position: absolute;
            width: 4rem;
            height: 0.5rem;
            top: 8rem;
            #{$position}: 0;
            background: $font-blue;
            transform: scale(1);
            transform-origin: $position;
            transition: all 0.3s ease-in;
            &:hover::after {
                transform: scale(2);
            }
        }
    }
}

@mixin SocialIcons($position) {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 2rem;
    #{$position}: -3rem;
    i {
        font-size: 1.4rem;
        &:hover {
            color: lighten($font-black, 20);
        }
    }
    @include mQ(600px) {
        display: none;
    }
}