nav {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    justify-content: space-between;
    .contact-me {
        a {
            font-size: 2rem;
            color: $font-blue;
            i {
                font-size: 3rem;
                margin-right: 1rem;
            }
            // .contact {
            //     font-size: 2rem;
            //     margin-top: -4rem;
            // }
        }
    }
    .social-icons {
        a {
            font-size: 2rem;
            color: $font-dark-grey;
            i {
                font-size: 3rem;
                margin: 0rem 1rem;
            }
        }
    }
}