.projects {
    .project {
        border: 1px solid red;
        height: 60vh;
        display: flex;
        align-items: center;
        position: relative;
        a {
            font-size: 2rem;
            font-weight: 400;
            color: $font-black;
        }
    }
    .pineapple-project {
        @include ProjectHeader(flex-end, left, left);
        .project-img {
            @include ProjectImg(pineapple);
        }
        .social-icons {
            @include SocialIcons(left);
        }
    }
    .shack-project {
        @include ProjectHeader(flex-start, right, right);
        .project-img {
            @include ProjectImg(barn);
        }
        .social-icons {
            @include SocialIcons(right);
        }
    }
}