.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .skills-items {
        max-width: 60rem;
        h2,
        p {
            text-align: center;
            margin: 1rem 0rem;
        }
        .app-icons {
            display: flex;
            flex-direction: row;
            margin-top: 4rem;
            justify-content: space-between;
        }
    }
}