<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Hugo Wiley's Portfolio
        link(rel="stylesheet", href="css/master.css")
        script(src="https://kit.fontawesome.com/b639b9baf8.js")
    body
        nav
            .contact-me
                a(href="#")
                    i(class="fas fa-comment")
                    |Contact Me 
                    
            .social-icons
                a(href="#")
                    i(class="fab fa-behance")
                a(href="#")
                    i(class="fab fa-dribbble")
                a(href="#")
                    i(class="fab fa-youtube")
        main
            section.intro
                .intro-text
                    h1  Hugo Wiley.
                    p.
                     Hello, I’m Hugo, a graphic designer, web designer, UI/UX designer and product designer. 
                    h2 What I do 
                    ul
                        li Product Design           
                        li Graphic Design           
                        li Web Design Design           
                        li UI/UX      
                .intro-img
                    .front-circle
                    //- .bg-circle  
            section.skills
                .skills-items
                    h2 My Skills
                    p.
                        Over 10 minutes of design experience with these programs
                        
                    .app-icons
                        img(src="icons/ae.png", alt="After Effects icon")    
                        img(src="icons/ai.png", alt="Illustrator icon")    
                        img(src="icons/ps.png", alt="Photoshop icon")    
                        img(src="icons/xd.png", alt="Experience Design icon")    
            section.projects
                .pineapple-project.project
                    header.project-header
                        h2 Pineapple Store
                        a(href="#") View project
                    
                    .project-img
                        .social-icons
                            a(href="#")
                                i(class="fab fa-behance")
                            a(href="#")
                                i(class="fab fa-dribbble")
                .shack-project.project
                    header.project-header
                        h2 Hardware Store
                        a(href="#") View project
                    
                    .project-img
                        .social-icons
                            a(href="#")
                                i(class="fab fa-behance")
                            a(href="#")
                                i(class="fab fa-dribbble") 
                .veggie-project.project
                    header.project-header
                        h2 Veggie Store
                        a(href="#") View project
                    
                    .project-img
                        .social-icons
                            a(href="#")
                                i(class="fab fa-behance")
                            a(href="#")
                                i(class="fab fa-dribbble")       
            footer
                h2
                    a(href="#") More on Dribbble                    